{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "/hooks/",
    "/components/",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
